.ae-container {
  text-align: center;
  margin-top: 30px;
}

.spent-today {
  font-weight: bolder;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.date {
  outline-width: 0;
  margin: 0;
  width: 150px;
  cursor: pointer;
}
